# Compiled Source #
###################
*.com
*.class
*.pyc

# Logs #
########
*.log

# Additional files #
####################
._*
.project
.pydevproject



*.gradle
/ANDROID/local.properties
/ANDROID/.idea/workspace.xml
*.DS_Store
/ANDROID/build
