{% extends "base.html" %}

{% block content %}


<div class="container">
        <div class="leftCol container">
            <ul>

                <!--<li><p>Pick date: <input type="text" id="datepicker"></p></li> -->
                <li>
                    <div id="Updates" class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">Updates</h3>
                      </div>
                    </div>
                </li>

                <li>
                    <div id="Assignments" class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">Assignments</h3>
                      </div>
                    </div>
                </li>
            </ul>

        </div>

        <div class="rightCol container">

            <ul>

                <li>
                    <div id="Main" class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">Updates</h3>
                      </div>

                         <ul class="list-group">
                         	
                         	{% for update in updates %}
                         		<li class="list-group-item"><a href="/updates/get/{{ update.id }}">{{ update.updateText }}</a></li>
                         	{% endfor %}

                         </ul>
                    <!--   
                      S
                      <div class="panel-body">
                        <ul>
                            <div class="panel panel-default">

                                <div class="panel-heading">
                                    <h3 class="panel-title">Date placeholder</h3>
                                </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">Long udateLong udateLong udateLong udateLong udate</li>
                                        <li class="list-group-item">Update 2</li>

                                     </ul>


                            </div>

                        </ul>
                      </div> -->
                    </div>
                </li>


                <li>
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">Give feedback</h3>
                      </div>
                            <ul class="list-group">
                                <li class="list-group-item"><textarea rows="4" cols="50"></textarea></li>
                                <li class="list-group-item">
                                    
                                    <ul class="nav nav-pills">
                                      <li class="clearForm"><a href="#">Clear</a></li>
                                      <li class="submitForm"><a href="#">Submit</a></li>
                                    </ul>
                                </li>
                            </ul>
                    </div>
                </li>
            </ul>
        </div>
</div>

{% endblock %}