<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		
		<title>{% block title %}Elementary Update | Keep up with your children! {% endblock %}</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<link type="text/css" rel="stylesheet" href="{% static "css/main.css" %}" />
		{% block extraStyles %} {% endblock %}
		
	</head>


	<body>


		<!-- navbar -->

		<div class="container">						
			<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>

			      <a href="/"><img src="{% static "images/logo.png" %}" width="90" height="60"></a>
			    </div>
			    
			    <ul class="nav navbar-nav">
					{% if username %}
						{% if group == 'parent' %}
						<li><a href="/updates/all/">View All Updates</a></li>
						<li><a href="/feedback/create/">Send Teacher Feedback</a>
						<li><a href="/feedback/parent_view/">View My Sent Feedback</a>
						<li><a href="/att/today/">View today's attendance</a>
						{% elif group == 'teacher' %}
						<li><a href="/updates/all/">View All Updates</a></li>
						<li><a href="/updates/create">Create a New Update</a></li>
						<li><a href="/feedback/all/">View All Parent Feedback</a>
						<li><a href="/att/create/">Update Attendance</a>
						<li><a href="/att/today/">View today's Attendance</a>
						{% endif %}
					{% endif %}
				</ul>
			    
			      <ul class="nav navbar-nav navbar-right">
			      	{% if username %}
			      	<li>Welcome, {{ username }}<a href="/user/logout">&nbsp;&nbsp;Logout</a></li>
			      	{% else %}
			        <li><a href="#"><button type="button" class="btn btn-success">Login</button></a></li>
			        {% endif %}
			      </ul>
			  </div><!-- /.container-fluid -->
			</nav>
		</div><!-- container -->


		<!-- login form -->
		{% block login %}
		{% if username %}
		{% else %}
		<div class="container">

            <div id="loginPopUp">
                <form name="login" action="/user/auth/" method="post">{% csrf_token %}
                    <center>Username:</center>
                    <center><input name="username" size="14" /></center>
                    <center>Password</center>
                    <center><input name="password" type="password" size="14" /></center>
                    <center><input type="submit" name="submit" value="Login" /></center>
                </form>
            </div>

        </div>
        {% endif %}
        {% endblock %}
        
        <div class="container">
        {% block content %}
        
        {% endblock %}
        </div>
        
        <!-- footer -->
        {% block footer %}
        <footer>
	        <div class="container">
	        	
	        	<div class="panel panel-info">
				  <div class="panel-body">
				    <ul class="nav nav-pills">
				      <li><a href="/">Home</a></li>
                      <li><a href="help.html">Help</a></li>
                      <li><a href="about.html">About</a></li>
                      <li><a href="contact.html">Contact Us</a></li>
                    </ul>
				  </div>

				</div>


	        </div>
        </footer>
        {% endblock %}


        <!-- scripts import -->

        <script src="{% static "js/main.js" %}"></script>
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		{% block extraScripts %} {% endblock %}
	</body>

</html>